.Snakefile.swp
outs/*
logs/*
.snakemake
Log.out
logs/*
.nfs*
workflow/rules/.nfs*
benchmarks/*
workflow/rules/*.swp
resources
snpEff*
config/config.*ADAR.yaml
data/samples/unt_*.fastq
data/samples/untreated_*.fastq.gz
workflow/scripts/calculate_dynamic_range.R
data/sample_sheet_3.tsv
config/config.rRNA_test.yaml
data/samples/alb_dex_1.fq
data/samples/dex_1.fq
data/samples/dex_2.fq
